/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/conexionBDD/build/
/conexionBDD/nbproject/private/
/herencias/nbproject/private/
/FigurasHerencia/nbproject/private/
/FigurasDimension/nbproject/private/
/Clase_Empleados/nbproject/private/